@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Risque&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Peralta", serif;
    font-style: normal;
    list-style: none;
}


header {
    height: 6vh;
    background-color: #FF1F1F;
    display: flex;
    justify-content: space-between;
    color: #FBD743;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    text-shadow: 2.5px 0 rgb(33, 17, 51);
}

header a {
    color: #FBD743;
    margin: 0 20px;
    cursor: pointer;
    text-shadow: 2.5px 0 rgb(33, 17, 51);
    letter-spacing: 1px;
}

.buton {
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

input {
    border: 2px solid #716b2c;
    background-color: #FBD648;
    border-radius: 50px;
    width: 400px;
    height: 40px;

}

input::placeholder {
    font-size: medium;
    text-shadow: 2px 0 rgb(59, 27, 93);
    color: #FF1F1F;
    letter-spacing: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
    padding: 20px;
    max-width: 900px;

}

.pokemon {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon img {
    width: 100px;
    height: 100px;
    margin: 10px;
}



footer {
    color: #FF1F1F;
    text-align: center;
}

.text {
    text-shadow: 1px 0 rgb(59, 27, 93);
}

.social a i {
    color: #F6DE7C;
    border: #D0CCC1;
    font-size: 20px;
    margin: 0 10px;
    text-shadow: 1px 0 rgb(255, 72, 44);
}